#home
{
    min-height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#mycarousel
{
    margin-bottom: 20px;
}




.carousel-item
{
    background: #000;
}

#bgg
{
    background-color: rgb(252, 252, 160);
}

#foot{
    text-align: center;
    background-color: #000;
    margin-top: 20px;
    
}
#foot a, #foot p{
    color: white;
    margin-right: 20px;
}

#abt
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#social
{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 8px;
}

#topsocial
{
    font-size: 30px;
    letter-spacing: 8px;

}
